{% extends 'core/base.html' %}


{% block content %}
<section class="mx-2 mt-2 md:my-4 flex justify-center items-center">
    <div class="bg-white p-8 rounded-lg shadow-md w-96">
        <h1 class="text-first-dominant text-2xl font-semibold mb-6">Contact Us</h1>
        
        <!-- Facebook Section -->
        <div class="flex items-center mb-4">
            <i class="fab fa-facebook-square text-first-dominant text-2xl mr-4"></i>
            <a href="https://www.facebook.com/MACarcillar/" class="text-blue-600 hover:underline" target="_blank">https://www.facebook.com/MACarcillar/</a>
        </div>
        
        <!-- Email Section -->
        <div class="flex items-center">
            <i class="fas fa-envelope text-first-dominant text-2xl mr-4"></i>
            <a href="mailto:markac.work@gmail.com" class="text-blue-600 hover:underline">markac.work@gmail.com</a>
        </div>
    </div>
</section>
{% endblock content %}