{% extends 'core/base.html' %}


{% block content %}
<section class="py-12 mx-2 md:mx-10 lg:mx-16">
    <div class="max-w-3xl mx-auto py-4 px-10 bg-white border border-gray-200 shadow-md rounded">
        <h1 class="text-2xl font-bold text-center mb-6 text-first-dominant">Privacy Policy</h1>

        <h2 class="text-xl mb-2 text-base">1. About Sales Forecasting System</h2>
        <p class="mb-4 indent-8 text-gray-600 text-sm">The Sales Forecasting System is a tool designed for forecasting sales based on industry selection and given historical sales data.</p>

        <h2 class="text-xl mb-2 text-base">2. Personal Information Collection</h2>
        <p class="mb-4 indent-8 text-gray-600 text-sm">We collect your username for authentication purposes. Passwords are always stored encrypted.</p>

        <h2 class="text-xl mb-2 text-base">3. Use of Information</h2>
        <p class="mb-4 indent-8 text-gray-600 text-sm">Authenticated users can download the results of their forecasts.</p>

        <h2 class="text-xl mb-2 text-base">4. Data Storage & Protection</h2>
        <p class="mb-4 indent-8 text-gray-600 text-sm">User information is stored in an SQLite3 database with passwords encrypted for security.</p>

        <h2 class="text-xl mb-2 text-base">5. User Rights</h2>
        <p class="mb-4 indent-8 text-gray-600 text-sm">At this moment, users cannot access, correct, or delete their personal information once provided.</p>

        <h2 class="text-xl mb-2 text-base">6. Contact</h2>
        <p class="mb-4 indent-8 text-gray-600 text-sm">For any questions about this privacy policy, contact:</p>
        <ul class="list-disc pl-5 mb-2 indent-8 text-sm">
            <li class="mb-0">
                <a href="https://www.facebook.com/MACarcillar/" class="text-second-dominant" target="_blank">Facebook</a>
            </li>
            <li>
                <a href="mailto:markac.work@gmail.com" class="text-second-dominant">markac.work@gmail.com</a>
            </li>
        </ul>
    </div>
</section>
{% endblock content %}