{% extends 'core/base.html' %}


{% block content %}
<section class="py-12 mx-2 md:mx-10 lg:mx-16">
    <div class="max-w-3xl mx-auto py-4 px-10 bg-white border border-gray-200 shadow-md rounded">
        <h1 class="text-2xl font-bold text-center mb-6 text-first-dominant">Terms of Use</h1>

        <h2 class="text-xl mb-2 text-base">1. Scope & Acceptance</h2>
        <p class="mb-4 indent-8 text-gray-600 text-sm">By accessing and using the Sales Forecasting System ("the App"), you agree to comply with and be bound by the following terms and conditions. If you do not agree to these terms, please refrain from using the App.</p>

        <h2 class="text-xl mb-2 text-base">2. Changes to the Terms</h2>
        <p class="mb-4 indent-8 text-gray-600 text-sm">The current version of these Terms of Use is immutable and cannot be changed.</p>

        <h2 class="text-xl mb-2 text-base">3. User Responsibilities</h2>
        <p class="mb-4 indent-8 text-gray-600 text-sm">There are no specific age or behavioral restrictions for using the App. However, users are expected to utilize the App responsibly.</p>

        <h2 class="text-xl mb-2 text-base">4. Account Termination</h2>
        <p class="mb-4 indent-8 text-gray-600 text-sm">Accounts found using automated bots or scripts are subject to suspension or termination without notice.</p>

        <h2 class="text-xl mb-2 text-base">5. Limitations & Disclaimers</h2>
        <p class="mb-4 indent-8 text-gray-600 text-sm">The service provided by the App is on an "as-is" basis without any warranties or guarantees of any kind, either expressed or implied. Users are advised to exercise caution and discretion while using the forecasting tool.</p>

        <h2 class="text-xl mb-2 text-base">6. User Content</h2>
        <p class="mb-4 indent-8 text-gray-600 text-sm">Users may upload files for sales forecasting. However, these files are not retained by the App. Only the forecasted results will be saved if the use is authenticated or logged in.</p>

        <h2 class="text-xl mb-2 text-base">7. Restrictions</h2>
        <p class="mb-4 indent-8 text-gray-600 text-sm">The App is open for use by everyone without restrictions.</p>

        <h2 class="text-xl mb-2 text-base">8. Intellectual Property</h2>
        <p class="mb-4 indent-8 text-gray-600 text-sm">All logos and graphics associated with the App are freely accessible and can be used by anyone. However, the underlying technology and design of the App remain the proprietary property of the Sales Forecasting System.</p>

        <h2 class="text-xl mb-2 text-base">9. Governing Law</h2>
        <p class="mb-4 indent-8 text-gray-600 text-sm">These Terms of Use are governed by the laws of the Republic of the Philippines.</p>

        <h2 class="text-xl mb-2 text-base">10. Dispute Resolution</h2>
        <p class="mb-4 indent-8 text-gray-600 text-sm">Any disputes arising out of or in connection with the App or these Terms of Use shall be resolved through arbitration in the Philippines. The decision of the arbitrator shall be final and binding on both parties.</p>

        <h2 class="text-xl mb-2 text-base">11. Termination</h2>
        <p class="mb-4 indent-8 text-gray-600 text-sm">Users cannot terminate their account.</p>

        <h2 class="text-xl mb-2 text-base">12. Miscellaneous</h2>
        <p class="mb-4 indent-8 text-gray-600 text-sm">The forecasting tool is intended as a supplementary resource. Users are advised not to rely solely on the App's predictions as they are not guaranteed to be 100% accurate.</p>
    </div>
</section>
{% endblock content %}